<div class="country-name-form">
  <div>
    <app-text-field [label]="texts.countryName"
                    [errorMsg]="texts.countryNameError"
                    (valueChange)="countryNameUpdate($event)"
                    [value]="selectedCountry?.name"
                    #countryName
    >
    </app-text-field>
  </div>
  <div class="country-action-btn">
    <button mat-raised-button (click)="makeActionWithCountry()">
      {{btnText}}
    </button>
  </div>
</div>
<mat-card class="country-list">
  <app-selection-list [items]="countryList$"
                      (itemSelected)="countrySelect($event)"
                      #countryList
  ></app-selection-list>
</mat-card>
