.container {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.menu-container {
  flex-basis: 30%;
  max-width: 200px;
  flex-grow: 0;
  height: 100%;
}

.content-container {
  flex-basis: 500px;
  flex-grow: 1;
  padding: 20px;
}
