<div class="user-name-field">
  <div>
    <app-text-field [label]="texts.usernameFieldLabel"
                    [errorMsg]="texts.usernameErrorMsg"
                    [value]="selectedUser?.name"
                    (valueChange)="onUsernameUpdated($event)"
                    #usernameField
    ></app-text-field>
  </div>
  <div class="user-action-btn">
    <button mat-raised-button
            [disabled]="!isFormValid"
            (click)="makeActionWithUser()"
    >
      {{btnText}}
    </button>
  </div>
</div>
<mat-card class="user-list">
  <app-selection-list
    [items]="userList$"
    (itemSelected)="onUserSelected($event)"
    #userList
  >
  </app-selection-list>
</mat-card>
