<mat-tab-group>
  <mat-tab
    [label]="texts.createUserTabName"
    (click)="switchModeToCreating()"
  >
    <app-user-creating-form
      (usernameUpdate)="onUsernameFilled($event)"
    ></app-user-creating-form>
    <button
      mat-raised-button
      [disabled]="!isFormValid"
      (click)="createUser()"
    >
      {{texts.addUserBtn}}
    </button>
  </mat-tab>
  <mat-tab
    [label]="texts.editUserTabName"
    (click)="switchModeToEditing()"
  >
    <app-user-selecting-form
      (selectUser)="onUserSelected($event)"
    >
    </app-user-selecting-form>
    <app-user-creating-form
      #userUpdating
      (usernameUpdate)="onUsernameUpdated($event)"
    >
    </app-user-creating-form>
    <button
      mat-raised-button
      [disabled]="!isFormValid"
      (click)="updateUserData()"
    >
      {{texts.editUserBtnText}}
    </button>
  </mat-tab>
</mat-tab-group>
